.gradient-bg {
    background: -moz-radial-gradient(circle at 25% 3%, rgba(4, 12, 24, 1) 0%, rgba(0, 40, 83, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 25% 3%, rgba(4, 12, 24, 1) 0%, rgba(0, 40, 83, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 25% 3%, rgba(4, 12, 24, 1) 0%, rgba(0, 40, 83, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 25% 3%, rgba(4, 12, 24, 1) 0%, rgba(0, 40, 83, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 25% 3%, rgba(4, 12, 24, 1) 0%, rgba(0, 40, 83, 1) 100%);
}

body {
    direction: rtl;
}

.input-group .btn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-right-width: 0px !important;
    border-left-width: 1px !important;

}

.input-group .form-control:first-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}